@import "tailwindcss";

:root {
  --ck-dark: #525931;
  --ck-gold: #C6B56E;
  --ck-light: #FDFBF7;
}

body {
  background-color: var(--ck-light);
  color: var(--ck-dark);
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}